 <!-- Pre Loader -->
<div id="aa-preloader-area">
    <div class="mu-preloader">
        <img src="assets/img/preloader.gif" alt=" loader img">
    </div>
</div>
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
    <span>Top</span>
</a>

<!-- END SCROLL TOP BUTTON -->
<!-- Start header section -->
<!-- End header section -->
<!-- Start slider  -->
<section id="mu-slider">
    
    <div class="mu-slider-area">
        <!-- Top slider -->
        <div class="mu-top-slider">
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/assets/img/slider/1.jpeg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">@TRI_RMS.Language.Welcome</span>
                    <h2 class="mu-slider-title">@TRI_RMS.Language.TO_THE_KING_FOOD</h2>
                    <marquee behavior="scroll" direction="left"><p style="color:wheat">atiqueatiqueatiqueatique</p></marquee>
                    
                   
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="assets/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">@TRI_RMS.Language.Welcome</span>
                    <h2 class="mu-slider-title">@TRI_RMS.Language.TO_THE_KING_FOOD</h2>
                    <marquee behavior="scroll" direction="left"><p style="color:wheat">atiqueatiqueatiqueatique</p></marquee>
                   
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="assets/img/slider/3.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">@TRI_RMS.Language.Welcome</span>
                    <h2 class="mu-slider-title">@TRI_RMS.Language.TO_THE_KING_FOOD</h2>
                    <marquee behavior="scroll" direction="left"><p style="color:wheat">atiqueatiqueatiqueatique</p></marquee>
                   
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="assets/img/slider/4.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">@TRI_RMS.Language.Welcome</span>
                    <h2 class="mu-slider-title">@TRI_RMS.Language.TO_THE_KING_FOOD</h2>
                    <marquee behavior="scroll" direction="left"><p style="color:wheat">atiqueatiqueatiqueatique</p></marquee>
                   
                </div>
                <!-- / Top slider content -->
            </div>
            <div class="mu-top-slider-single">
                <img src="assets/img/slider/6.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">@TRI_RMS.Language.Welcome</span>
                    <h2 class="mu-slider-title">@TRI_RMS.Language.TO_THE_KING_FOOD</h2>
                    <marquee behavior="scroll" direction="left"><p style="color:wheat">atiqueatiqueatiqueatique</p></marquee>
                    
                </div>
                <!-- / Top slider content -->
            </div>
            <div class="mu-top-slider-single">
                <img src="assets/img/slider/7.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">@TRI_RMS.Language.Welcome</span>
                    <h2 class="mu-slider-title">@TRI_RMS.Language.TO_THE_KING_FOOD</h2>
                    <marquee behavior="scroll" direction="left"><p style="color:wheat">atiqueatiqueatiqueatique</p></marquee>
                    
                </div>
                <!-- / Top slider content -->
            </div>
        </div>
    </div>
    
</section>
<!-- End slider  -->
<!-- Start About us -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">@TRI_RMS.Language.Discover</span>
                        <h2>@TRI_RMS.Language.ABOUT_US</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mu-about-us-left">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam minus aliquid, itaque illum assumenda repellendus dolorem, dolore numquam totam saepe, porro delectus, libero enim odio quo. Explicabo ex sapiente sit eligendi, facere voluptatum! Quia vero rerum sunt porro architecto corrupti eaque corporis eum, enim soluta, perferendis dignissimos, repellendus, beatae laboriosam.</p>
                                <ul>
                                    <li>We treat you like a person who will exchange money for goods.</li>
                                    <li>Come hungry, leave regretful, but still a little high.</li>
                                    <li>We have the ingredients with which we can make you a pizza.</li>
                                    <li>Yours Truly Restaurant. For AM & PM people.</li>
                                    <li>Buy a bucket of chicken and have a barrel of fun.</li>
                                    <li>It's a good time for the great taste of Kingfood's.</li>
                                </ul>
                                <p>When you're here, you're with your family with whom you have little in common, which is why you came to the Kingfood. Here's a beeper.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mu-about-us-right">
                                <ul class="mu-abtus-slider">
                                    <li><img src="assets/img/about-us/abtus-img-1.png" alt="img"></li>
                                    <li><img src="assets/img/about-us/abtus-img-2.png" alt="img"></li>
                                    <li><img src="assets/img/about-us/abtus-img-6.png" alt="img"></li>
                                    <li><img src="assets/img/about-us/abtus-img-4.png" alt="img"></li>
                                    <li><img src="assets/img/about-us/abtus-img-5.png" alt="img"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us -->
<!-- Start Counter Section -->
<section id="mu-counter">
    <div class="mu-counter-overlay" style="padding:0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-counter-area">
                       
                        <marquee behavior="scroll" direction="left">
                            <img src="~/assets/img/about-us/abtus-img-1.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-2.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-6.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-4.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-5.png" width="120" height="80" alt="Natural" />
                        </marquee>
                        
                        <!-- Marquee Side Touch Margin Bounce Text by Way2Tutorial.com -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->
<script src="~/JavascriptFile/PageScript/HomeMenu.js"></script>
<!-- Start Restaurant Menu -->
<section id="mu-restaurant-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-restaurant-menu-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">@TRI_RMS.Language.Discover</span>
                        <h2>@TRI_RMS.Language.OUR_MENU</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-restaurant-menu-content">
                        <ul class="nav nav-tabs mu-restaurant-menu" id="ul"></ul>

                        <!-- Tab panes -->
                        <div class="tab-content" id="tabMenuDetails">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Restaurant Menu -->

<!--Marque Start -->
<section id="mu-counter">
    <div class="mu-counter-overlay" style="padding:0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-counter-area">                    
                        <marquee behavior="scroll" direction="left">
                            <img src="~/assets/img/about-us/abtus-img-1.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-2.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-6.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-4.png" width="120" height="80" alt="Natural" />
                            <img src="~/assets/img/about-us/abtus-img-5.png" width="120" height="80" alt="Natural" />
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Marque End-->

<script src="~/JavascriptFile/PageScript/BarSection.js"></script>
<!--Bar-->
<section id="mu-chef">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-restaurant-menu-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">@TRI_RMS.Language.Welcome_to</span>
                        <h2>@TRI_RMS.Language.OUR_BAR</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-restaurant-menu-content">
                        <!-- Tab panes -->
                        <div class="tab-content" id="barul">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Bar-->
<!-- Start Reservation section -->
<section id="mu-reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-reservation-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">@TRI_RMS.Language.Make_A</span>
                        <h2>@TRI_RMS.Language.Reservation</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-reservation-content">


                        <script src="~/JavascriptFile/PageScript/Booking.js"></script>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quidem autem iusto, perspiciatis, amet, quaerat blanditiis ducimus eius recusandae nisi aut totam alias consectetur et.</p>
                        <form class="mu-reservation-form" id="formR">
                            <div class="row">
                                <input type="hidden" name="BookingID" id="BookingID" />
                                <input type="hidden" name="InvoiceID" id="InvoiceID" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BookingDate" id="datepicker" placeholder="Date" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Reservation Type" name="ReservationTypeID">*@
                                        <select class="form-control" id="ReservationTypeID" name="ReservationTypeID" required>
                                            <option value="0">--Select User--</option>
                                            <option value="1">User-1</option>
                                            <option value="2">User-2</option>
                                            <option value="3">User-3</option>

                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="StartTime" name="StartTime" id="StartTime" readonly="readonly" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="EndTime" name="EndTime" id="EndTime" readonly="readonly" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Booking Qty" name="BookingQty" id="BookingQty" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Name" name="Name" id="Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" name="Email" id="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Contact" name="Contact" id="Contact" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" cols="30" rows="10" placeholder="Your Message" name="Remark" id="Remark"></textarea>
                                    </div>
                                </div>

                                <button type="submit" class="mu-readmore-btn">@TRI_RMS.Language.Make_Reservation</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Reservation section -->
<!-- Start Gallery -->
<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-gallery-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">@TRI_RMS.Language.Discover</span>
                        <h2>@TRI_RMS.Language.Our_Gallery</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-gallery-content">
                        <script src="~/JavascriptFile/PageScript/GallaryItem.js"></script>
                        <!-- Start gallery image -->
                        <div class="mu-gallery-body" id="gallaryItem">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mu-contact" style="z-index:900">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">

                    <div class="mu-title">
                        <span class="mu-subtitle">@TRI_RMS.Language.Get_In_Touch</span>
                        <h2>@TRI_RMS.Language.Contact_Us</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-contact-content">
                        <div class="row">
                            @*Contact with Rating*@
                            <form class="" id="fContact">
                                <div class="col-md-6">
                                    <div class="mu-contact-left mu-contact-form">
                                        @*<form class="mu-contact-form" id="fContact">*@
                                        <div class="form-group mu-contact-form">
                                            <label for="name">@TRI_RMS.Language.Your_Name</label>
                                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" required>
                                        </div>
                                        <div class="form-group mu-contact-form">
                                            <label for="email">@TRI_RMS.Language.Email_Address</label>
                                            <input type="email" class="form-control" id="EmailId" name="EmailId" placeholder="Email" required>
                                        </div>
                                        <div class="form-group mu-contact-form">
                                            <label for="email">@TRI_RMS.Language.Phone</label>
                                            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone">
                                        </div>

                                        <div class="form-group mu-contact-form">
                                            <label for="subject">@TRI_RMS.Language.Subject</label>
                                            <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group mu-contact-form">
                                            <label for="message">@TRI_RMS.Language.Message</label>
                                            <textarea class="form-control" id="Message" name="Message" cols="30" rows="10" placeholder="Type Your Message"></textarea>
                                        </div>
                                        <button type="submit" class="mu-send-btn">@TRI_RMS.Language.Send_Message</button>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mu-contact-right mu-contact-form">
                                        @*<div class="form-group mu-contact-form">
                                                <label for="message">Message</label>
                                                <textarea class="form-control" id="Message" name="Message" cols="30" rows="10" placeholder="Type Your Message"></textarea>
                                            </div>*@
                                        <style type="text/css">
                                            .class_checkbox {
                                                width: 20px;
                                                height: 20px;
                                                /*background-color: red;*/
                                                padding: 25px;
                                                background-image: url(/assets/img/menu/Star-blank.jpg);
                                                background-repeat: no-repeat;
                                            }

                                                .class_checkbox.checked {
                                                    /*background-color: green;*/
                                                    background-image: url(/assets/img/menu/Star-Shape.png);
                                                    background-repeat: no-repeat;
                                                }
                                        </style>
                                        <div class="mu-contact-widget">
                                            <h3>Rate Us</h3>
                                            <div class="rating" style="padding:10px">                                                                                             
                                                @Html.CheckBox("Star1", new { @id = "Star1", @class = "input_class_checkbox" })                                                
                                                @Html.CheckBox("Star2", new { @id = "Star2", @class = "input_class_checkbox" })                                                
                                                @Html.CheckBox("Star3", new { @id = "Star3", @class = "input_class_checkbox" })                                                
                                                @Html.CheckBox("Star4", new { @id = "Star4", @class = "input_class_checkbox" })                                                
                                                @Html.CheckBox("Star5", new { @id = "Star5", @class = "input_class_checkbox" })
                                            </div>
                                            <script type="text/javascript">
                                                $(function () {
                                                    $('.input_class_checkbox').each(function () {
                                                        $(this).hide().after('<div class="class_checkbox col-lg-2 col-md-2" />');

                                                    });

                                                    $('.class_checkbox').on('click', function () {
                                                        $(this).toggleClass('checked').prev().prop('checked', $(this).is('.checked'))
                                                    });
                                                })

                                            </script>
                                            <div class="mu-contact-widget">

                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact section -->
<!--Arup-->



<section>
    <video width="100%" height="100%" autoplay="" loop="" muted="" poster="img/poster.jpg">
        @*<source src="videos/render-img.mp4" type="video/mp4">*@
        <source src="~/assets/videos/render-img.mp4" type="video/mp4" />


        @*<source src="videos/render-img.ogg" type="video/ogg">*@
    </video>

</section>
<section id="mu-map">
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d760807.7995949016!2d11.954496755808002!3d41.85186150977206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a111bd74ac3%3A0x3094f9ab2388100!2sMetropolitan+City+of+Rome%2C+Italy!5e0!3m2!1sen!2sbd!4v1489256150192" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>*@
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1484.8328519863974!2d12.4996822!3d41.900046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61a415532721%3A0x76111df6d38fcea4!2sKing+Food+Termini+Srls!5e0!3m2!1sen!2sbd!4v1492450146269" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


</section>

<!--End Arup-->
